<div class="container bg-dark p-2 text-dark bg-opacity-50">

    <form class="d-flex" role="search">
        <input class="form-control me-2" type="search" placeholder="Filler Node" aria-label="Search">
        <button class="btn btn-outline-dark" type="submit">Search</button>
    </form>
    <br>

    <!-- accordion starts -->

    <div class="accordion" id="accordionExample">
        <div class="accordion-item">
            <h2 class="accordion-header" id="headingOne">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                    data-bs-target="#input" aria-expanded="true" aria-controls="collapseOne">
                    Input
                </button>
            </h2>
            <div id="input" class="accordion-collapse collapse" aria-labelledby="headingOne"
                data-bs-parent="#accordionExample">
                <div class="accordion-body">
                    <button *ngFor="let node of input" class="btn btn-dark col-12 mt-1 mb-1" type="button"
                        data-bs-toggle="offcanvas" data-bs-target="#right" aria-colspan="offcanvasRight">
                        <div>
                            {{node}}
                        </div>
                    </button>
                </div>
            </div>
        </div>
        <div class="accordion-item">
            <h2 class="accordion-header" id="headingTwo">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                    data-bs-target="#output" aria-expanded="false" aria-controls="collapseTwo">
                    Output
                </button>
            </h2>
            <div id="output" class="accordion-collapse collapse" aria-labelledby="headingTwo"
                data-bs-parent="#accordionExample">
                <div class="accordion-body">
                    <button *ngFor="let node of output" class="btn btn-dark col-12 mt-1 mb-1" type="button"
                        data-bs-toggle="offcanvas" data-bs-target="#right" aria-colspan="offcanvasRight">
                        <div>
                            {{node}}
                        </div>
                    </button>
                </div>
            </div>
        </div>
        <div class="accordion-item">
            <h2 class="accordion-header" id="headingThree">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                    data-bs-target="#advance" aria-expanded="false" aria-controls="collapseThree">
                    Advance
                </button>
            </h2>
            <div id="advance" class="accordion-collapse collapse" aria-labelledby="headingThree"
                data-bs-parent="#accordionExample">
                <div class="accordion-body">
                    <button *ngFor="let node of advance" class="btn btn-dark col-12 mt-1 mb-1" type="button"
                        data-bs-toggle="offcanvas" data-bs-target="#right" aria-colspan="offcanvasRight">
                        <div class="col">
                            {{node}}
                        </div>
                    </button>
                </div>
            </div>
        </div>
        <div class="accordion-item">
            <h2 class="accordion-header" id="headingThree">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                    data-bs-target="#analysis" aria-expanded="false" aria-controls="collapseThree">
                    Analysis
                </button>
            </h2>
            <div id="analysis" class="accordion-collapse collapse" aria-labelledby="headingThree"
                data-bs-parent="#accordionExample">
                <div class="accordion-body">
                    <button *ngFor="let node of analysis" class="btn btn-dark col-12 mt-1 mb-1" type="button"
                        data-bs-toggle="offcanvas" data-bs-target="#right" aria-colspan="offcanvasRight">
                        <div>
                            {{node}}
                        </div>
                    </button>
                </div>
            </div>
        </div>
    </div>

    <!-- accordion ends -->
</div>

<!-- 
<button class="btn btn-primary" type="button" data-bs-toggle="offcanvas" data-bs-target="#right"
    aria-controls="offcanvasRight">
    {{node}} {{idx}}
</button> -->
