
    <nav class="navbar bg-dark p-2 text-dark bg-opacity-25">
        <h2 class="navbar-brand font-monospace">DATA-MAX</h2>
        <div class="d-flex">
            <button class="btn btn-dark me-2 font-monospace">Deploy</button>
            <div class="dropdown me-3">
                <button class="btn btn-secondary dropdown-toggle font-monospace" type="button" id="dropdownMenuButton1"
                    data-bs-toggle="dropdown" aria-expanded="false">
                    Sign Up
                </button>
                <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                    <li><a class="dropdown-item font-monospace" href="#">Login</a></li>
                    <li><a class="dropdown-item font-monospace" href="#">Logout</a></li>
                    <li><a class="dropdown-item font-monospace" href="#">Setting</a></li>
                </ul>
            </div>
        </div>
    </nav>

